@import url('./mode.css');

body {
    width: 100vw;
    min-height: 100vh;

    padding: 0;
    margin: 0;

    font-family: Inter;
}

.home {
    color: var(--text);
    background-color: var(--bg);

    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home h3 {
    position: fixed;
    width: 100vw;
    height: 56px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1.5px solid var(--border);
    backdrop-filter: blur(12px);
    background-color: var(--navbar);
}

.home nav {
    flex-grow: 1;
    display: flex;

    flex-direction: column;
    align-items: center;

    max-width: 1280px;
    width: 80vw;
    margin-top: 128px;
}

.home footer {
    position: fixed;
    width: 100%;
    height: 52px;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    opacity: 0.25;
}

h1, h2, h3 {
    font-weight: 500;
}