:root {
    --bg: white;
    --text: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #131414;
        --text: white;
    }
}

#color-mode:checked ~ .post {
    --bg: #131414;
    --text: white;
}

@media (prefers-color-scheme: dark) {
    #color-mode:checked ~ .post {
        --bg: white;
        --text: black;
    }

    #color-mode:checked ~ label .mode#dark {
        display: none;
    }
    #color-mode:checked ~ label .mode#light {
        display: block;
        color: black;
    }

    #color-mode ~ label .mode#light {
        display: none;
    }
    #color-mode ~ label .mode#dark {
        display: block;
        color: white;
    }
}

label[for="color-mode"] {
    position: absolute;
    top: 16px;
    right: 16px;

    cursor: pointer;
    opacity: .5;
}

label[for="color-mode"]:hover {
    opacity: 1;
}

#color-mode {
    display: none;
}
