@import url('./mode.css');

html, body {
    background-color: var(--bg);
}

body {
    width: 100vw;
    min-height: 100vh;

    padding: 0;
    margin: 0;

    font-family: var(--font-sans);
}

.post {
    color: var(--text);
    background-color: var(--bg);

    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.post nav {
    position: fixed;
    width: 100vw;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1.5px solid var(--border);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: var(--navbar);
}

.post nav .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 4px 0;
}

.post nav .title > h3 {
    margin: 0;
}

.post nav .title > span {
    font-size: 12px;
    margin-top: 4px;
    opacity: .5;
}

.post article {
    flex-grow: 1;
    display: flex;

    flex-direction: column;
    align-items: stretch;

    max-width: 1280px;
    width: calc(100vw - 64px);
    padding: 56px 32px 0 32px;
}

@media only screen and (min-width: 1280px) {
    .post article {
        border-left: 1.5px solid var(--border);
        border-right: 1.5px solid var(--border);
    }

    .post footer {
        border-left: 1.5px solid var(--border);
        border-right: 1.5px solid var(--border);
    }
}

.post article * {
    text-align: left;
}

.post article p {
    margin: 8px 0;
}

.post article pre {
    align-self: baseline;
    font-size: 14px;

    padding: 0 20px;
    border-radius: 12px;
    max-width: calc(100vw - 104px);

    overflow: scroll;
}

.post article code {
    font-family: var(--font-mono);
}

.post article sup {
    opacity: .35;
}

.post article ul {
    list-style-type: none;
}

.post article > ul {
    padding: 0 0 0 4px;
}

.post footer {
    max-width: 1280px;
    width: 100vw;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    padding: 0 32px;
    color: var(--text-dim);
}

h1, h2, h3 {
    font-weight: 500;
}

h1 { font-size: 2em; }