@import url('./mode.css');

body {
    width: 100vw;
    min-height: 100vh;

    padding: 0;
    margin: 0;

    font-family: Inter;
}

.post {
    color: var(--text);
    background-color: var(--bg);

    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.post nav {
    position: fixed;
    width: 100vw;
    height: 56px;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.post nav svg {
    width: 24px;
    height: 24px;
    margin: 0 16px;
}

.post nav .title {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
}

.post nav .title > h3 {
    margin: 0;
}

.post nav .title > span {
    font-size: 12px;
    opacity: .5;
}

.post article {
    flex-grow: 1;
    display: flex;

    flex-direction: column;
    align-items: stretch;

    max-width: 1280px;
    width: 80vw;
    margin-top: 56px;
}

.post article * {
    text-align: left;
}

.post article p {
    margin: 8px 0;
}

.post article pre {
    align-self: baseline;
    font-size: 14px;

    padding: 0 20px;
    border-radius: 12px;
    min-width: 256px;
}

.post article code {
    font-family: JetBrains Mono;
}

.post article sup {
    opacity: .35;
}

.post article ul {
    list-style-type: none;
}

.post article > ul {
    padding: 0 0 0 4px;
}

.post footer {
    width: 100%;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    opacity: 0.25;
}

h1, h2, h3 {
    font-family: Inter;
}

h1 { font-size: 2em; }